= javascript_include_tag "./location_map/location_map"
%h1 Developer Productivity App
%p this is the homepage that will show a list of locations that a developer can work at, as well as current devs working at those locations
%p it will also show some github analytics

- if current_user
  %a{:href => "/github", :title => "Test github_call"} Test

%br

%button#add_location Add Location

/ Make the form hidden, and toggle it when "Add Locaion" button is clicked
/ {style: "display: none;"} <- add that to form so it is hidden until you click
/ #location_form{style: "display: none;"}
#location_form
  = form_for(Location.new) do |f|
    %p
      = f.label :name, "Location name"
      %br
      = f.text_field :name
    %p
      = f.label :address
      %br
      = f.text_field  :address
    %p
      = f.label :address_detail, "Suite/Floor"
      %br
      = f.text_field :address_detail
    %p
      = f.label :city
      %br
      = f.text_field :city
    %p
      = f.label :state
      %br
      = f.text_field :state
    %p
      = f.label :zipcode, "Zip"
      %br
      = f.text_field :zipcode
    %p
      = f.label :description
      %br
      = f.text_field :description
    %p.button#create_location
      = f.submit 'Create Location'

#errors
#locations
#detail

= render partial: 'location'
= render partial: 'detail'
