!!!
%html
  %head
    %title FinalProject
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      #user_nav.column.omega
        - if current_user
          Welcome, #{current_user.github_username}!
          \#{link_to "Sign Out", signout_path}
        - else
          = link_to "Sign in with GitHub", "/auth/github"
      #notice
      #side_nav
        .four.columns
        %nav
          %ul
            %li
              %a{href: "/dashboard"} Dashboard
            %br
            %li
              %a{href: "/"} Locations
            %br
            %li#add_location
              %a{href: "#"} Add Location
            %br
        #location_form{style: "display: none;"}
          = form_for(Location.new) do |f|
            %p
              = f.label :name, style: "display: none;"
              %br
              = f.text_field :name, :placeholder => "Location Name"
            %p
              = f.label :address, style: "display: none;"
              %br
              = f.text_field  :address, :placeholder => "Address"
            %p
              = f.label :address_detail, style: "display: none;"
              %br
              = f.text_field :address_detail, :placeholder => "Suite/Floor"
            %p
              = f.label :city, style: "display: none;"
              %br
              = f.text_field :city, :placeholder => "City"
            %p
              = f.label :state, style: "display: none;"
              %br
              = f.text_field :state, :placeholder => "State"
            %p
              = f.label :zipcode, style: "display: none;"
              %br
              = f.text_field :zipcode, :placeholder => "Zip"
            %p
              = f.label :description, style: "display: none;"
              %br
              = f.text_field :description, :placeholder => "Description"
            %br
            %br
            %p.button#create_location
              = f.submit 'Create Location'
      = yield
    / container end
