<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <script id="map-result" type="text/x-handlebars-template">
    {{#each locations}}
      <div class="entry">
        <h1>{{name}}</h1>
        <div class="body">
          {{description}}
        </div>
      </div>
    {{/each }}
  </script>

  <div class="container"> 

    <div id="notice"></div>

    <div id="login_nav">
      <% if current_user %>
        Welcome, <%= current_user.github_username %>!
        <%= link_to "Sign Out", signout_path %>
      <% else %>
        <%= link_to "Sign in with GitHub", "/auth/github" %>
      <% end %>
    </div>
    <div id="side_nav">
      <div class="four columns">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <% if current_user %>
            <li><a href="/dashboard">Dashboard</a></li>
            <li id="add_location"><a href="#">Add Location</a></li>
            <% end %>
          </ul>
        </nav>
      </div>

      <div id="location_form" style="display: none;">
      <%= form_for(Location.new) do |f| %>
        <%= f.label           :name %> <br>
        <%= f.text_field      :name, :placeholder => "Name" %> <br>
        <%= f.label           :address %> <br>
        <%= f.text_field      :address, :placeholder => "Address" %> <br>
        <%= f.label           :address_detail %> <br>
        <%= f.text_field      :address_detail, :placeholder => "Suite/Floor/Apt" %> <br>
        <%= f.label           :city %> <br>
        <%= f.text_field      :city, :placeholder => "City" %> <br>
        <%= f.label           :state %> <br>
        <%= f.text_field      :state, :placeholder => "State" %> <br>
        <%= f.label           :zipcode %> <br>
        <%= f.text_field      :zipcode, :placeholder => "Zip" %> <br>
        <%= f.label           :description %> <br>
        <%= f.text_field      :description, :placeholder => "Description" %> <br> <br>
        <!-- need to give submit an id of "create_location" -->
        <div id="create_location">
          <%= f.submit %>
        </div>
      <% end %>
      </div>
      <div id="errors"></div>
    </div>


  <%= yield %>

</div>
<!-- container end -->

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<% ENV['GOOGLE_API_KEY'] %>&sensor=true"></script>

</body>
</html>
