<!DOCTYPE html>
<html>
<head>
  <title>DevelUp</title>
  <link href='http://fonts.googleapis.com/css?family=Gudea' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <script id="map-result" type="text/x-handlebars-template">
    {{#each locations}}
      <div class="entry">
        <h2>{{name}}</h2>
        <div class="body">
          {{description}}
        </div>
      </div>
    {{/each }}
  </script>

  <div class="container" id="container">

    <aside id="side_nav" class="four columns">

      <nav>
        <ul>
          <% if current_user %>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/dashboard">Dashboard</a>
          </li>
          <li id="add_location">
            <a href="#">Add Location</a>
          </li>
          <% end %>
        </ul>
      </nav>
    
      <div id="location_form" style="display: none;">
        <%= form_for(Location.new) do |f| %>
          <%= f.text_field      :name, :placeholder => "Name" %> <br>
          <%= f.text_field      :address, :placeholder => "Address" %> <br>
          <%= f.text_field      :address_detail, :placeholder => "Suite/Floor/Apt" %> <br>
          <%= f.text_field      :city, :placeholder => "City" %> <br>
          <%= f.text_field      :state, :placeholder => "State" %> <br>
          <%= f.text_field      :zipcode, :placeholder => "Zip" %> <br>
          <%= f.text_field      :description, :placeholder => "Description" %> <br> <br>
          <!-- need to give submit an id of "create_location" -->
          <div id="create_location">
            <%= f.submit %>
          </div>
        <% end %>
      </div>
    </aside>

    <main class="twelve columns">
      <header id="main" class="twelve columns margin display">

        <h1 class="three columns">
          DevelUp
        </h1>
      
        <% if current_user %>
        <div class="margin-display offset-by-five two columns">
          Welcome, <%= current_user.github_username %>
        </div>
        <div class="login_nav margin-display ">
          <%= link_to "Sign Out", signout_path %> 
        </div>
        <% else %>
        <div class="login_nav margin-display">
          <%= link_to "Sign in with GitHub", "/auth/github" %>
        </div>
        <% end %>

        <div class="ten columns">
          <p id="tag-line">
            Find good places to code and increase your productivity
          </p>
        </div>
      </header>
      
      <div id="notice_container" class="ten columns">
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
        <% end %>
      </div>  <!-- notice container end -->

      <%= yield %>
    <main>
  </div> <!-- container end -->

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<% ENV['GOOGLE_API_KEY'] %>&sensor=true"></script>
  <footer></footer>
</body>
</html>
